{% extends 'admin_panel.html' %}

{% block content_block %}
    <div class="header">
        <input id="back" type="button" value="{{ texts.back }}">
        <div class="title">
            {{ texts.addPatient }}
        </div>
    </div>

    <div class="window">
        <div class="main">
            <div class="left">
                <span>{{ texts.fullname }}</span>
                <span>{{ texts.age }}</span>
                <span>{{ texts.gender }}</span>
                <span>{{ texts.familyDoctor }}</span>
            </div>
            <div class="right">
                <input id="patient-fullname" type="text" size="50">
                <input id="patient-age" type="text">
                <select id="patient-gender">
                    <option value="">-</option>
                    <option value="0">{{ texts.woman }}</option>
                    <option value="1">{{ texts.man }}</option>
                </select>
                <input id="patient-family-doctor-fullname" type="text">
            </div>
        </div>
        <div class="submit">
            <input id="save" type="button" value="{{ texts.save }}">
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="static/js/patient.js"></script>
    <script>
        let backElement = document.querySelector("#back");

        backElement.onclick = () => openPatients();

        let saveElement = document.querySelector("#save");

        let patientFullnameElement = document.querySelector("#patient-fullname");
        let patientAgeElement = document.querySelector("#patient-age");
        let patientGenderElement = document.querySelector("#patient-gender");
        let patientFamilyDoctorFullnameElement = document.querySelector("#patient-family-doctor-fullname");

        saveElement.onclick = () => createPatient(
            patientFullnameElement.value,
            patientAgeElement.value,
            patientGenderElement.value,
            patientFamilyDoctorFullnameElement.value
        );
    </script>
{% endblock %}
