{% extends 'admin_panel.html' %}

{% block content_block %}
    <div class="header">
        <input id="back" type="button" value="{{ texts.back }}">
        <div class="title">
            {{ texts.addEmployee }}
        </div>
    </div>

    <div class="window">
        <div class="main">
            <div class="left">
                <span>{{ texts.fullname }}</span>
                <span>{{ texts.age }}</span>
                <span>{{ texts.gender }}</span>
                <span>{{ texts.salary }}</span>
                <span>{{ texts.jobCategory }}</span>
                <span>{{ texts.jobTitle }}</span>
            </div>
            <div class="right">
                <input id="employee-fullname" type="text" size="50">
                <input id="employee-age" type="text">
                <select id="employee-gender">
                    <option value="">-</option>
                    <option value="0">{{ texts.woman }}</option>
                    <option value="1">{{ texts.man }}</option>
                </select>
                <input id="employee-salary" type="text">
                <select id="employee-job-category">
                    <option value="">-</option>

                    {% for jobCategory in texts.jobCategories %}
                        <option value="{{ loop.index }}">{{ jobCategory }}</option>
                    {% endfor %}
                </select>
                <select id="employee-job-title">
                    <option value="">-</option>
                </select>
            </div>
        </div>
        <div class="submit">
            <input id="save" type="button" value="{{ texts.save }}">
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="static/js/employee.js"></script>
    <script>
        let backElement = document.querySelector("#back");

        backElement.onclick = () => openEmployees();

        let saveElement = document.querySelector("#save");

        let employeeFullnameElement = document.querySelector("#employee-fullname");
        let employeeAgeElement = document.querySelector("#employee-age");
        let employeeGenderElement = document.querySelector("#employee-gender");
        let employeeSalaryElement = document.querySelector("#employee-salary");
        let employeeJobCategoryElement = document.querySelector("#employee-job-category");
        let employeeJobTitleElement = document.querySelector("#employee-job-title");

        saveElement.onclick = () => createEmployee(
            employeeFullnameElement.value,
            employeeAgeElement.value,
            employeeGenderElement.value,
            employeeSalaryElement.value,
            employeeJobCategoryElement.value,
            employeeJobTitleElement.value
        );
        employeeJobCategoryElement.onchange = () => onJobCategoryChange(
            employeeJobCategoryElement, employeeJobTitleElement
        );
    </script>
{% endblock %}
