{% extends 'admin_panel.html' %}

{% block content_block %}
    <div class="header">
        <input id="back" type="button" value="Назад">
        <div class="title">
            Информация о сотруднике
        </div>
    </div>

    <div class="window">
        <div class="main">
            <div class="left">
                <span>ID</span>
                <span>ФИО</span>
                <span>Возраст</span>
                <span>Пол</span>
                <span>Оклад</span>
                <span>Отделение</span>
                <span>Специальность</span>
            </div>
            <div class="right">
                <input id="employee-id" type="text" value="{{ employee.id }}" readonly>
                <input id="employee-fullname" type="text" value="{{ employee.fullname }}" size="50">
                <input id="employee-age" type="text" value="{{ employee.age }}">
                <select id="employee-gender">
                    <option value="">-</option>
                    <option value="0" {% if employee.gender == False %} selected {% endif %}>Женщина</option>
                    <option value="1" {% if employee.gender == True %} selected {% endif %}>Мужчина</option>
                </select>
                <input id="employee-salary" type="text" value="{{ employee.salary }}">
                <select id="employee-job-category">
                    <option value="">-</option>
                    <option value="0" {% if employee.jobCategory == 0 %} selected {% endif %}>Доктор</option>
                </select>
                <select id="employee-job-title">
                    <option value="">-</option>
                    <option value="0" {% if employee.jobTitle == 0 %} selected {% endif %}>Терапевт</option>
                </select>
            </div>
        </div>
        <div class="submit">
            <input id="save" type="button" value="Сохранить">
            <input id="delete" type="button" value="Удалить">
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="static/js/employee.js"></script>
    <script>
        let backElement = document.querySelector("#back");

        backElement.onclick = () => openEmployees();
        
        let saveElement = document.querySelector("#save");
        let deleteElement = document.querySelector("#delete");

        let employeeIdElement = document.querySelector("#employee-id");
        let employeeFullnameElement = document.querySelector("#employee-fullname");
        let employeeAgeElement = document.querySelector("#employee-age");
        let employeeGenderElement = document.querySelector("#employee-gender");
        let employeeSalaryElement = document.querySelector("#employee-salary");
        let employeeJobCategoryElement = document.querySelector("#employee-job-category");
        let employeeJobTitleElement = document.querySelector("#employee-job-title");

        saveElement.onclick = () => editEmployee(
            employeeIdElement.value,
            employeeFullnameElement.value,
            employeeAgeElement.value,
            employeeGenderElement.value,
            employeeSalaryElement.value,
            employeeJobCategoryElement.value,
            employeeJobTitleElement.value
        );
        deleteElement.onclick = () => deleteEmployee(
            employeeIdElement.value
        )
    </script>
{% endblock %}
