{% extends 'admin_panel.html' %}

{% block style_block %}
    {{ super() }}

    <link rel="stylesheet" href="static/css/employee.css">
{% endblock %}

{% block content_block %}
    <div class="header">
        <div class="title">
            {{ texts.employees }}
        </div>
        <input id="open-window-filters" type="button" value="{{ texts.filters }}">
    </div>

    <div class="filters">
        <div class="window window-right">
            <span class="window-header">
                {{ texts.filters }}
                <input id="close-window-filters" type="button" value="x">
            </span>

            <div class="main">
                <div class="left">
                    <span>ID</span>
                    <span>{{ texts.fullname }}</span>
                    <span>{{ texts.age }}</span>
                    <span>{{ texts.gender }}</span>
                    <span>{{ texts.salary }}</span>
                    <span>{{ texts.jobCategory }}</span>
                    <span>{{ texts.jobTitle }}</span>
                </div>
                <div class="right">
                    <input id="employee-id" type="text"">
                    <input id="employee-fullname" type="text" size="50">
                    <input id="employee-age" type="text">
                    <select id="employee-gender">
                        <option value="">-</option>
                        <option value="0">{{ texts.woman }}</option>
                        <option value="1">{{ texts.man }}</option>
                    </select>
                    <input id="employee-salary" type="text">
                    <select id="employee-job-category">
                        <option value="">-</option>
                        
                        {% for jobCategory in texts.jobCategories %}
                            <option value="{{ loop.index - 1 }}">{{ jobCategory }}</option>
                        {% endfor %}
                    </select>
                    <select id="employee-job-title">
                        <option value="">-</option>
                    </select>
                </div>
            </div>
            <div class="submit">
                <input id="search" type="button" value="{{ texts.search }}">
            </div>
        </div>
    </div>
    <div class="data-elements"></div>
{% endblock %}

{% block script_block %}
    <script src="static/js/employee.js"></script>
    <script>
        let filtersWindowElement = document.querySelector(".window");
        let openWindowFiltersElement = document.querySelector("#open-window-filters")
        let closeWindowFiltersElement = document.querySelector("#close-window-filters");

        openWindowFiltersElement.onclick = () => openWindow(filtersWindowElement);
        closeWindowFiltersElement.onclick = () => closeWindow(filtersWindowElement);

        let dataElements = document.querySelector(".data-elements");
        let searchElement = document.querySelector("#search");
        let employeeIdElement = document.querySelector("#employee-id");
        let employeeFullnameElement = document.querySelector("#employee-fullname");
        let employeeAgeElement = document.querySelector("#employee-age");
        let employeeGenderElement = document.querySelector("#employee-gender");
        let employeeSalaryElement = document.querySelector("#employee-salary");
        let employeeJobCategoryElement = document.querySelector("#employee-job-category");
        let employeeJobTitleElement = document.querySelector("#employee-job-title");

        searchElement.onclick = () => {
            getEmployees(
                employeeIdElement.value,
                employeeFullnameElement.value,
                employeeAgeElement.value,
                employeeGenderElement.value,
                employeeSalaryElement.value,
                employeeJobCategoryElement.value,
                employeeJobTitleElement.value,
                
                response => {
                    if (response) {
                        dataElements.innerHTML = "";
                        stopLoadingAnimation();

                        response.employees.forEach(employee => {
                            let gender = employee.gender ? "{{ texts.man }}" : "{{ texts.woman }}";
                            let jobCategory = texts.jobCategories[employee.jobCategory];
                            let jobTitle = texts.jobTitles[employee.jobCategory][employee.jobTitle];
                            
                            addEmployee(
                                dataElements,
                                employee.id,
                                employee.fullname,
                                employee.age,
                                gender,
                                employee.salary,
                                jobCategory,
                                jobTitle,
                            );
                        });

                        showText("{{ texts.foundEmployees }}".replace("{}", response.employees.length), 0);
                    }
                    else {
                        showText("{{ texts.error }}", 2);
                    }
                }
            );
        }

        employeeJobCategoryElement.onchange = () => onJobCategoryChange(
            employeeJobCategoryElement, employeeJobTitleElement
        );

        searchElement.click()
    </script>
{% endblock %}
