<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ texts.title }}</title>

    <link rel="icon" href="static/media/logo.png" type="image/icon type">

    <link rel="stylesheet" href="static/css/base.css">

    {% block style_block %} {% endblock %}
</head>
<body>
    <div class="container">
        {% block container_block %} {% endblock %}
    </div>

    <script src="texts.js"></script>
    <script src="static/js/base.js"></script>

    {% block script_block %} {% endblock %}
</body>
</html>
