{% extends 'admin_panel.html' %}

{% block style_block %}
    {{ super() }}

    <link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block content_block %}
    <div class="header">
        <div class="title">
            {{ texts.adminPanelTitle }}
        </div>
    </div>

    <div class="control-blocks">
        <div class="control-block">
            <div class="control-block-title">
                <span>{{ texts.patientTitle }}</span>
            </div>
            <div class="control-block-body">
                <ul>
                    <li><a href="/add-patient">{{ texts.addPatient }}</a></li>
                    <li><a href="/patients">{{ texts.patients }}</a></li>
                </ul>
            </div>
        </div>
        <div class="control-block">
            <div class="control-block-title">
                <span>{{ texts.employeeTitle }}</span>
            </div>
            <div class="control-block-body">
                <ul>
                    <li><a href="/add-employee">{{ texts.addEmployee }}</a></li>
                    <li><a href="/employees">{{ texts.employees }}</a></li>
                </ul>
            </div>
        </div>
        <div class="control-block">
            <div class="control-block-title">
                <span>{{ texts.sessionTitle }}</span>
            </div>
            <div class="control-block-body">
                <ul>
                    <li><a href="/add-session">{{ texts.addSession }}</a></li>
                    <li><a href="/schedule">{{ texts.schedules }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
