{% extends 'base.html' %}

{% block style_block %}
    <link rel="stylesheet" href="static/css/admin-panel.css">
    <link rel="stylesheet" href="static/css/menu.css">
{% endblock %}

{% block container_block %}
    <div class="admin-panel">
        <div class="admin-panel-body">
            <div id="show-text">
                <span></span>
            </div>
            
            <div class="header">
                <div class="title">
                    {{ texts.adminPanelAuthTitle }}
                </div>
            </div>
            
            <div class="window window-center">
                <div class="main">
                    <div class="left">
                        <span>{{ texts.login }}</span>
                        <span>{{ texts.password }}</span>
                    </div>
                    <div class="right">
                        <input id="username" type="text">
                        <input id="password" type="password">
                    </div>
                </div>
                <div class="submit">
                    <input id="save" type="button" value="{{ texts.loginSave }}">
                </div>
            </div>
        </div>

        <div class="admin-panel-menu">
            <div class="logo">
                <img src="static/media/logo.png" alt="" width="120px">
            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="static/js/auth.js"></script>
    <script>
        let saveElement = document.querySelector("#save");
        let usernameElement = document.querySelector("#username");
        let passwordElement = document.querySelector("#password");

        saveElement.onclick = () => login(
            usernameElement.value,
            passwordElement.value
        );
    </script>
{% endblock %}
