<div class="admin-panel-menu">
    <div class="control-buttons">
        <div class="control-button-complex">
            <div class="control-button"><a href="/">Главная</a></div>
        </div>
        <div class="control-button-complex">
            <div class="control-button"><a href="/add-patient"> Добавить пациента</a></div>
            <div class="control-button"><a href="/patients"> Посмотреть список пациентов</a></div>
        </div>
        <div class="control-button-complex">
            <div class="control-button"><a href="/add-employee"> Добавить сотрудника</a></div>
            <div class="control-button"><a href="/employees"> Посмотреть список сотрудников</a></div>
        </div>
        <div class="control-button-complex">
            <div class="control-button"><a href="/add-session">Назначить сеанс</a></div>
            <div class="control-button"><a href="/schedule">Посмотреть расписание</a></div>
        </div>
    </div>
    
    <div class="logo">
        <img src="static/media/logo.png" alt="" width="100px">
    </div>

    <div class="control-buttons">
        <div class="control-button-complex">
            <div class="control-button"><a href="/exit">Выход</a></div>
        </div>
    </div>
</div>
