<div class="admin-panel-menu">
    <div class="control-buttons">
        <div class="control-button-complex">
            <div class="control-button"><a href="/">{{ texts.main }}</a></div>
        </div>
        <div class="control-button-complex">
            <div class="control-button"><a href="/add-patient">{{ texts.addPatient }}</a></div>
            <div class="control-button"><a href="/patients">{{ texts.patients }}</a></div>
        </div>
        <div class="control-button-complex">
            <div class="control-button"><a href="/add-employee">{{ texts.addEmployee }}</a></div>
            <div class="control-button"><a href="/employees">{{ texts.employees }}</a></div>
        </div>
        <div class="control-button-complex">
            <div class="control-button"><a href="/add-session">{{ texts.addSession }}</a></div>
            <div class="control-button"><a href="/schedules">{{ texts.schedules }}</a></div>
        </div>
    </div>
    
    <div class="logo">
        <img src="static/media/logo.png" alt="" width="100px">
    </div>

    <div class="control-buttons">
        <div class="control-button-complex">
            <div class="control-button"><a href="/exit">{{ texts.exit }}</a></div>
        </div>
    </div>
</div>
